.sidebar-container {
    display: flex;
    height: 100vh;
    background-color: #706f6f33;
}

.sidebar-container .top-section {
    display: flex;
    padding-left: 16px;
}

.sidebar-container .sidebar-open,
.sidebar-container .sidebar-shrink {
    height: 100%;
}

.sidebar-open {
    width: 230px;
}

.sidebar-shrink {
    width: 80px;
}