.sidebar-container {
    display: flex;
    height: 100vh;
    background-color: #706f6f33;
}

.sidebar-container .top-section {
    display: flex;
    padding-left: 16px;
}

.sidebar-container>div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar-open {
    width: 230px;
}

.sidebar-shrink {
    width: 80px;
}

.sidebar-logout-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 26px;
}