.inventory-item-contianer {
    min-width: 250px;
}

.inventory-item-contianer .item-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: 10px;
    gap: 10px;
}

.inventory-item-contianer .item-header>div {
    display: flex;
    gap: 4px;
    height: fit-content;
    align-self: flex-end;
}

.inventory-item-contianer .first-section,
.inventory-item-contianer .second-section {
    display: grid;
    gap: 10px;
}

.inventory-item-contianer .item-financial-movements,
.inventory-item-contianer .item-stock {
    display: grid;
    gap: 10px;
}

.inventory-item-contianer .item-specification {
    display: flex;
    flex-direction: column;
    max-height: 560px;
    overflow: auto;
    padding-right: 6px;
    gap: 10px;
}

.inventory-item-contianer .item-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media screen and (min-width: 992px) {
    .inventory-item-contianer {
        width: 630px;
    }

    .inventory-item-contianer .item-data {
        flex-direction: row;
    }

    .inventory-item-contianer .item-header {
        flex-direction: row;
    }
}