.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .logo {
    width: 160px;
}

.main-header .logo svg {
    width: 100%;
}

.main-header .menu-items {
    display: flex;
    gap: 30px;
}

.main-header .menu-items span {
    font-size: 18px;
    cursor: pointer;
}